{%set
form = {
  mod: 'side-btns__tooltip form--bg-white',
  title: 'Авторизация',
  titleMod: 'mb-0',
  subttl: 'Введите ваши данные ниже',
  authLinks: true,
  button: {
    title: 'Войти'
  },
  fields: [
    {
      name: 'input',
      type: 'email',
      mod: 'input--lg',
      placeholder: 'email',
      label: {}
    },
    {
      name: 'input',
      type: 'password',
      mod: 'input--lg',
      placeholder: 'пароль',
      label: {}
    },
    {
      name: 'checkbox',
      type: 'checkbox',
      mod: '',
      placeholder: '',
      label: { last: '<span>Запомнить данные</span>' }
    }
  ]
}
%}

{# <div class="side-btns__tooltip"> #}
  {% include "partials/_form-block.html" %}
{# </div> #}