{%set
form = {
  mod: 'side-btns__tooltip form--bg-white',
  title: 'Выберите ваше авто',
  titleMod: 'mb-0',
  subttl: 'Выберите марку, год и модель вашего авто и система подберет
    подходящие аксессуары специально для вас',
  button: {
    title: 'Подобрать'
  },
  fields: [
    {
      name: 'select',
      mod: 'input--select-color',
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'Марка' },
        { value: '1', option: 'Марка1' },
        { value: '2', option: 'Марка2' },
        { value: '3', option: 'Марка3' }
      ]
    },    
    {
      name: 'select',
      mod: 'input--select-color',
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'год' },
        { value: '1', option: 'год1' },
        { value: '2', option: 'год2' },
        { value: '3', option: 'год3' }
      ]
    },
    {
      name: 'select',
      mod: 'input--select-color',
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'модель' },
        { value: '1', option: 'модель1' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '2', option: 'модель2' },
        { value: '3', option: 'модель3' }
      ]
    }
  ]
}
%}

{# <div class="side-btns__tooltip"> #}
  {% include "partials/_form-block.html" %}
{# </div> #}