html  
  font-size: $base-fz + px
  line-height: 1.4
  color: $c-text
  +reg
  +sm
    font-size: $base-fz-sm + px

body
  background-color: $white  
  min-width: 320px  
  +no-scroll  

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  $this: &
  &--loaded:not(#{$this}--no-fade-in)
    animation: fadeIn 1s

.logo
  display: inline-block
  font-size: 0

.out
  padding-top: $header-height
  +lg
    padding-top: $header-height-lg
    padding-bottom: rem(50)

.container
  max-width: none
  +rmin(1625)
    max-width: 1440px
  +rmin(1400)
    max-width: 1230px
  +rmin(1200)
    max-width: 1030px
  &--lg
    max-width: none !important
    margin-left: 0
    margin-right: 0
    padding-left: $container--lg-padding
    padding-right: $container--lg-padding
    +lg
      padding-left: $container-padding
      padding-right: $container-padding

.word
  text-transform: uppercase
  font-weight: 800
  font-size: em(254)
  line-height: .8
  opacity: .1
  white-space: nowrap
  +lg
    font-size: em(220)
  +md
    font-size: em(180)
  +sm
    font-size: em(150)
  +xs
    font-size: em(120)

.number-lg
  color: $accent
  font-weight: 800
  font-size: em(260)
  line-height: .8
  text-transform: uppercase
  +lg
    font-size: em(220)
  +md
    font-size: em(180)
  +sm
    font-size: em(150)
  +xs
    font-size: em(120)
    