small
  font-size: inherit

h1, h2, h3, h4, h5, h6
  font-weight: 400

.title
  display: block
  text-transform: uppercase
  font-weight: 700
  font-size: em(48)
  line-height: 1.2

  &--h3
    font-size: em(22)

  &--ttn
    text-transform: none
