---
title: about
page: about
hero: {
  bg: 'about.jpg',
  mod: 'hero--sm',
  breadcrumbs: {
    list: [
      { link: 'Prime Auto' },
      { item: '-' },
      { item: 'о нас', modItem: 'breadcrumbs__current-item' }
    ]
  },
  title: 'о нас',
  subttl: 'Компания Prime  Auto с 2000 года занимается продажей автомобильных аксессуаров в Украине, завоевав лидирующие позиции на этом рынке.'
}
sSlider: {
  title: 'о prime auto',
  text: '
    <p>Компания Prime  Auto с 2000 года занимается продажей автомобильных аксессуаров в Украине, завоевав лидирующие позиции на этом рынке. Это стало возможным благодаря тому, что мы предлагает нашим покупателям самый широкий ассортимент  аксессуаров  для автомобилей всех ценовых категорий – от качественных, но недорогих изделий до оригинальных, либо  произведенных ведущими компаниями США, Канады, Германии и Австралии. </p>
    <p>Только у нас, приобретая  аксессуары  для  Вашего  автомобиля,  Вы  можете  не сомневаться  в их качестве и полной адаптированности именно к Вашему авто.  На  сайте представлен широкий выбор оригинальных и эксклюзивных ветровиков,  дефлекторов,  автоковриков, спойлеров, дуг, хром-пакетов, брызговиков,  молдингов,  автооптики,  защиты фар, крышек для пикапов, кенгурятников,  решеток  радиатора  и  прочих автоаксессуаров. Доставка осуществляется по всей территории Украины.</p>
  '
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-slider.html" %}
{% endblock %}
