---
title: partnership
page: partnership
hero: {
  bg: 'partnership.jpg',
  mod: 'hero--sm',
  breadcrumbs: {
    list: [
      { link: 'Prime Auto' },
      { item: '-' },
      { item: 'сотрудничество', modItem: 'breadcrumbs__current-item' }
    ]
  },
  title: 'сотрудничество',
  subttl: 'Если Вы являетесь владельцем автосалона, СТО, профильного магазина либо частным предпринимателем и, при этом, хотите зарабатывать больше – мы готовы к сотрудничеству!'
}
sSlider: {
  simple: true,
  title: 'наши преимущества ',
  text: '
    <ul class="list">
      <li>многолетний опыт работы с иностранными производителями автоаксессуаров всех ценовых категорий;</li>
      <li>развитая логистика, обеспечивающая кратчайшие сроки доставки заказов в Украину;</li>
      <li>эксклюзив на импорт в Украину продукции многих известных производителей;</li>
      <li>оперативное предоставление актуальных данных о складских запасах;</li>
      <li>отличные условия для партнеров, продиктованные желанием работать и зарабатывать.</li>
    </ul>

    <p>Свяжитесь с нами прямо сейчас, и мы обязательно <br>
найдем общие интересы для сотрудничества:</p>
  ',
  btn: { title: 'Связаться с нами' }
}
sImg: {
  img: 2854.jpg,
  title: Почему нам можно доверять?,
  text: 'Автовладельцы всего мира покупают и рекомендуют продукцию WeatherTech уже более 25 лет. Пользуясь репутацией новатора и перфекциониста, компания не останавливает развитие технологичности продукции. Поэтому сегодня Вы можете позволить себе высококлассный комфорт и защиту автомобиля с аксессуарами WeatherTech.'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-slider.html" %}
  {% include "partials/sections/_s-features-accent.html" %}
  {% include "partials/_img-block.html" %}
  {% include "partials/sections/_s-line-imgs.html" %}
  {% include "partials/sections/_s-dude.html" %}
{% endblock %}
