$base-fz:    16
$base-fz-sm: 14

$text-inputs: "[type='color']", "[type='date']", "[type='datetime']", "[type='datetime-local']", "[type='email']", "[type='month']", "[type='number']", "[type='password']", "[type='search']", "[type='tel']", "[type='text']", "[type='time']", "[type='url']", "[type='week']", "input:not([type])", "textarea"
$check-inputs: "[type='checkbox']", "[type='radio']"

$c-text:   #383e47
$c-border: #dfe8ef

$black:    #000
$white:    #fff
$accent:   #2532d9
$light:    #a5a6aa
$dark:     #27272b

$header-height:    rem(89)
$header-height-lg: rem(50)

$container--lg-padding: rem(90)

=windowHeight($offset: 0px)
  height: calc(100vh - #{$offset})
  height: calc((var(--vh, 1vh) * 100) - #{$offset})

=windowMinHeight($offset: 0px)
  min-height: calc(100vh - #{$offset})
  min-height: calc((var(--vh, 1vh) * 100) - #{$offset})
