{%set
catalog = [
  {
    title: 'Подставки для авто',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Роллеты для кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Дефлекторы капота',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Чехлы для сидений',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Кунги, крышки кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Ящики кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Тенты для кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Расширитель арок',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Кунги, крышки кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  },
  {
    title: 'Ящики кузова',
    sublist: [
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      },
      {
        title: 'Роллеты пластиковые',
        sublist: [
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' },
          { title: 'Роллеты пластиковые для внедорожников и грузовых автомобилей' }
        ]
      }
    ]
  }
]
%}

<!-- begin aside -->
<aside class="aside-container__aside aside">
  <div class="aside__top">
    <h3 class="title title--h3">каталог</h3>
  </div>

  <ul class="aside__accordion catalog-accordion js-accordion">
    {% for i in catalog %}
      <li class="catalog-accordion__item">
        <button class="catalog-accordion__btn title title--h5">{{ i.title | safe }}</button>

        <ul class="catalog-accordion__sublist">
          {% for j in i.sublist %}
          <li class="catallog-accordion__subitem">
            <button class="catalog-accordion__btn catalog-accordion__btn--sub">{{ j.title | safe }}</button>
            <ul class="catalog-accordion__sublist">
              {% for k in j.sublist %}
              <li class="catalog-accordion__subitem">
                <a href="#" class="catalog-accordion__link">{{ k.title | safe }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</aside>
<!-- end aside -->