{% if not form.justInner %}
<form class="form{% if form.mod %} {{ form.mod }}{% endif %}">
{% endif %}
  {% if form.title %}
  <div class="form__title{% if form.title.mod %} {{ form.title.mod }}{% endif %}">{{ form.title.title | safe }}</div>
  {% endif %}

  {% if form.cols %}
    <div class="form__row{% if form.rowMod %} {{ form.rowMod }}{% endif %}">
      {% for i in form.cols %}
      <div class="form__col{% if form.colMod %} {{ form.colMod }}{% endif %}">
        {% if i.name %}
          {{ mixins.input(
            name = i.name,
            mod = i.mod,
            type = i.type,
            placeholder = i.placeholder,
            value = i.value,
            fieldClass = i.fieldClass,
            fieldAttributes = i.fieldAttributes,
            label = i.label,
            options = i.options
          ) }}
        {% endif %}
      </div>
      {% endfor %}
    </div>

    
  
  {% endif %}

  {% if form.fields %}
  {% for i in form.fields %}
  <div class="form__field{% if i.wrapMod %} {{ i.wrapMod }}{% endif %}">
    {% if i.name %}
      {{ mixins.input(
        name = i.name,
        mod = i.mod,
        type = i.type,
        placeholder = i.placeholder,
        value = i.value,
        fieldClass = i.fieldClass,
        fieldAttributes = i.fieldAttributes,
        label = i.label,
        options = i.options
      ) }}
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}

  {% if not form.noButton %}
  <div class="form__field{% if form.btn.wrapMod %} {{ form.btn.wrapMod }}{% endif %}">
    {{ mixins.btn(
      title = form.btn.title or 'Сохранить',
      mod = 'btn--full',
      href = false
    ) }}
  </div>
  {% endif %}


{% if not form.justInner %}
</form>
{% endif %}
