<!-- begin hero -->
<section class="hero{% if hero.mod  %} {{ hero.mod }}{% endif %}">
  {% if hero.slider %}
    <!-- begin slider -->
    <div class="hero-slider slider__wrap slider--hero__wrap">
      <div class="swiper-container js-slider" data-slider="hero">
        <div class="swiper-wrapper slider slider--hero">
          {% for i in range(0, 4) %}
          <div class="swiper-slide slide hero-slide">
            <div
              class="hero-slide__bg js-lazy"
              data-background-image="./img/hero/home.jpg"
            ></div>
            <div class="container container--lg">
              <div class="hero-slide__inner">
                <div class="grid">
                  <div class="col col--5">
                    <h2 class="hero-slide__title title">Премиум <br> аксессуары для <br> вашего автомобиля</h2>
                    <div class="hero-slide__subttl">Наши клиенты - наш приоритет номер один. Мы стремимся <br> постоянно превосходить ожидания наших клиентов, и это <br> проявляется не только в каждом продукте, но и в нашей культуре. </div>

                    <div class="hero-slide__btns">
                      <div class="hero-slide__btn">
                        {{ mixins.btn(
                          title = 'Подобрать аксессуар',
                          mod = 'btn--md'
                        ) }}
                      </div>

                      <div class="hero__btn">
                        {{ mixins.btn(
                          title = 'Популярные товары',
                          mod = 'btn--md btn--transp-white'
                        ) }}
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="slider__pagination js-slider-pagination"></div>
    </div>
    <!-- end slider -->
  {% endif %}  
</section>
<!-- end hero -->