<!-- begin hero -->
<section class="hero{% if hero.mod  %} {{ hero.mod }}{% endif %}">
  {% if hero.slider %}
    <!-- begin slider -->
    <div class="hero-slider slider__wrap slider--hero__wrap">
      <div class="swiper-container js-slider" data-slider="hero">
        <div class="slider-wrapper slider slider--hero">
          {% for i in range(0, 4) %}
          <div
            class="swiper-slide slide hero-slide js-lazy"
            data-background-image="./img/hero/home.jpg"
          >
            <div class="container container--lg">
              <div class="hero-slide__inner">
                <h2 class="hero__title title">Премиум аксессуары для вашего автомобиля</h2>
                <div class="hero__subttl">Наши клиенты - наш приоритет номер один. Мы стремимся постоянно превосходить ожидания наших клиентов, и это проявляется не только в каждом продукте, но и в нашей культуре. </div>

                <div class="hero__btns">
                  <div class="hero__btn">
                    {{ mixins.btn(
                      title = 'Подобрать аксессуар',
                      mod = ''
                    ) }}
                  </div>

                  <div class="hero__btn">
                    {{ mixins.btn(
                      title = 'Популярные товары',
                      mod = 'btn--transp-white'
                    ) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="slider__pagination js-slider-pagination"></div>
    </div>
    <!-- end slider -->
  {% endif %}  
</section>
<!-- end hero -->