{{ mixins.list(
  name = 'nav',
  hasWrap = true,
  modifications = { wrap: 'header__nav js-menu', item: '', link: '' },
  list = [
    { link: mixins.icon('menu') + 'каталог', modItem: 'has-dropdown-lg', item: '
      <ul>
        <li><a href="#">Подставки для авто</a></li>
        <li><a href="#">Роллеты для кузова</a></li>
        <li><a href="#">Дефлекторы капота</a></li>
        <li><a href="#">Чехлы для сидений</a></li>
        <li><a href="#">Кунги, крышки кузова</a></li>
        <li><a href="#">Ящики кузова</a></li>
        <li><a href="#">Тенты для кузова</a></li>
        <li><a href="#">Расширитель арок</a></li>
        <li><a href="#">Кунги, крышки кузова</a></li>
        <li><a href="#">Ящики кузова</a></li>
        <li><a href="#">Подставки для авто</a></li>
        <li><a href="#">Роллеты для кузова</a></li>
        <li><a href="#">Дефлекторы капота</a></li>
        <li><a href="#">Чехлы для сидений</a></li>
        <li><a href="#">Кунги, крышки кузова</a></li>
        <li><a href="#">Ящики кузова</a></li>
        <li><a href="#">Тенты для кузова</a></li>
        <li><a href="#">Расширитель арок</a></li>
        <li><a href="#">Кунги, крышки кузова</a></li>
        <li><a href="#">Ящики кузова</a></li>
      </ul>
    ' },
    { link: 'о нас' },
    { link: 'для покупателя', item: '
      <ul>
        <li><a href="#">Оплата и доставка</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">как заказать</a></li>
        <li><a href="#">отзывы</a></li>
        <li><a href="#">политика компании</a></li>
      </ul>
    ' },
    { link: 'сотрудничество' },
    { link: 'контакты' }
  ]
) }}