<!-- begin side-controls -->
<div class="out__side-controls side-controls">
  <ul class="side-controls__btns side-btns">
    <li class="side-btns__item"
      ><button class="side-btns__btn">{{ mixins.icon('magnifying-glass') }}</button
    >{% include "partials/side-tooltips/_search.html" %}</li>
    <li class="side-btns__item"
      ><button class="side-btns__btn">{{ mixins.icon('car') }}</button
    >{% include "partials/side-tooltips/_car.html" %}</li>
    <li class="side-btns__item"
      ><button class="side-btns__btn">{{ mixins.icon('user') }}</button
    >{% include "partials/side-tooltips/_cabinet.html" %}</li>
    <li class="side-btns__item"
      ><button class="side-btns__btn">{{ mixins.icon('shopping-cart') }}</button
    >{% include "partials/side-tooltips/_cart.html" %}</li>
    <li class="side-btns__item"
      ><button class="side-btns__btn">{{ mixins.icon('phone-call') }}</button
    >{% include "partials/side-tooltips/_contacts.html" %}</li>
  </ul>

  {{ mixins.list(
    name = 'side-btns',
    modifications = { wrap: '', list: 'side-controls__social social', item: 'social__item', link: 'social__link' },
    list = [
      { link: '<span class="social__title">facebook</span><span class="social__title social__title--mob">Fb</span>' },
      { link: '<span class="social__title">instagram</span><span class="social__title social__title--mob">Ins</span>' }
    ]
  ) }}

</div>
<!-- end side-controls -->