{%set
form = {
  mod: 'catalog-item__form',
  title: 'Выберите ваше авто',
  button: {
    title: 'Подобрать'
  },
  fields: [
    {
      name: 'select',
      fieldAttributes: {},
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'Марка' },
        { value: '1', option: 'Марка1' },
        { value: '2', option: 'Марка2' },
        { value: '3', option: 'Марка3' }
      ]
    },
    {
      name: 'select',
      fieldAttributes: { disabled: '' },
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'год' },
        { value: '1', option: 'год1' },
        { value: '2', option: 'год2' },
        { value: '3', option: 'год3' }
      ]
    },
    {
      name: 'select',
      fieldAttributes: { disabled: '' },
      fieldClass: 'js-select',
      options: [
        { value: 'placeholder', option: 'модель' },
        { value: '1', option: 'модель1' },
        { value: '2', option: 'модель2' },
        { value: '3', option: 'модель3' }
      ]
    }
  ]
}
%}

{% include "partials/_form-block.html" %}
