<!-- begin gallery -->
<div class="gallery js-gallery">
  <div class="gallery__slider slider__wrap slider--gallery__wrap">
    <div class="swiper-container js-slider" data-slider="gallery">
      <div class="swiper-wrapper slider slider--gallery">
        {% for i in range(0, 16) %}
        <div
          class="swiper-slide slide gallery__img js-lazy"
          data-background-image="./img/gallery-img.jpg"
        ></div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="gallery__thumbs slider__wrap slider--thumbs__wrap">
    <div class="swiper-container js-slider" data-slider="thumbs">
      <div class="swiper-wrapper slider slider--thumbs">
        {% for i in range(0, 16) %}
        <button
          class="swiper-slide slide gallery__thumb js-lazy"
          data-background-image="./img/gallery-thumb.jpg"
        ></button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end gallery -->
