<!-- begin catalog-item-header -->
<header class="out__aux-header catalog-item-header js-aux-header">
  <div class="container container--lg">
    <div class="catalog-item-header__inner">
      <div class="catalog-item-header__left">
        <div class="catalog-item-header__img">
          <img
            class="js-lazy"
            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
            alt=""
            data-src="./img/45.jpg"
          />
        </div>

        <div class="catalog-item-header__left-content">
          <div class="catalog-item-header__upttl">WeatcherTech®</div>

          <div class="catalog-item-header__title">Коврики с бортиком</div>
        </div>
      </div>

      <div class="catalog-item-header__right">
        <div class="catalog-item-header__price">2250 UAH - 12890 UAH</div>

        <div class="catalog-item-header__btn">
          {{ mixins.btn(
            title = 'Подобрать',
            mod = ''
          ) }}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end catalog-item-header -->
