{%set
contacts = {
  cols: [
    {
      name: 'input',
      type: 'text',
      value: 'Карпенко',
      placeholder: 'Фамилия',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Фамилия</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'Евгений',
      placeholder: 'Имя',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Имя</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'Игоревич',
      placeholder: 'Отчество',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Отчество</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    },
    {
      name: 'input',
      type: 'email',
      value: 'Yevhenii.ua@gmail.aom',
      placeholder: 'E-mail',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">E-mail</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    },
    {
      name: 'input',
      type: 'tel',
      value: '+38 (097) 544 - 33 - 48',
      placeholder: '+38 ( _ _ _ ) _ _ _ - _ _- _ _',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Телефон</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'г. Киев, Ул. Большая Васильковс г. Киев, Ул. Большая Васильковс',
      placeholder: 'Адрес',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Адрес</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'clear-button' }
    }
  ]
}
%}

{%set
password = {
  cols: [
    {
      name: 'input',
      type: 'password',
      value: '',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Старый пароль</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'show-password-button' }
    },
    {
      name: 'input',
      type: 'password',
      value: '',
      placeholder: '',
      fieldClass: 'js-input-password',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Новый пароль</label>' },
      mod: 'js-input-wrap',
      attributes: { 'data-input': 'show-password-button' }
    }
  ]
}
%}
