{%set
contacts = {
  cols: [
    {
      name: 'input',
      type: 'text',
      value: 'Карпенко',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Фамилия</label>' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'Евгений',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Имя</label>' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'Игоревич',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Отчество</label>' }
    },
    {
      name: 'input',
      type: 'email',
      value: 'Yevhenii.ua@gmail.aom',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">E-mail</label>' }
    },
    {
      name: 'input',
      type: 'tel',
      value: '+38 (097) 544 - 33 - 48',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Телефон</label>' }
    },
    {
      name: 'input',
      type: 'text',
      value: 'г. Киев, Ул. Большая Васильковс г. Киев, Ул. Большая Васильковс',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Адрес</label>' }
    }
  ]
}
%}

{%set
password = {
  cols: [
    {
      name: 'input',
      type: 'password',
      value: '',
      placeholder: '',
      fieldClass: '',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Старый пароль</label>' }
    },
    {
      name: 'input',
      type: 'password',
      value: '',
      placeholder: '',
      fieldClass: 'js-input-password',
      fieldAttributes: '',
      label: { first: '<label class="input__label">Новый пароль</label>' }
    }
  ]
}
%}
