<!-- begin faq -->
<div class="grid js-accordion">
  {% for i in range(0, 6) %}
  <div class="col col--6">
    <!-- begin faq-item -->
    <div class="faq-item">
      <button class="faq-item__btn js-accordion-btn">Есть ли у вас какие-то скидки или акции для постоянных клиентов?</button>
      <div class="faq-item__content js-accordion-item">
        Да, мы проводим ежемесячные акции для партнеров и постоянных клиентов, например: “Счастливый покупатель”, “Каждый второй бесплатно”, “Успей первый” и другие. Вы можете поучаствовать в наших акциях, оставив заявку нашему менеджеру или же написать нам на почту с соответствующей просьбой. Также при покупке наш менеджер
        обязательно сообщим вам обо всех текущих и предстоящих акциях.
      </div>
    </div>
    <!-- end faq-item -->
  </div>
  {% endfor %}
</div>
<!-- end faq -->