<!-- begin section -->
<section class="section s-blog-page">
  <div class="container container--lg">
    <div class="s-blog-page__inner">
      <div class="s-blog-page__left">
        <article class="s-blog-page__article article">
          <p><a href="#">Салон авто</a> может рассказать об аккуратности и отношении владельца к своему автомобилю. Если вы ездили в чужой машине, где не было резиновых ковриков для авто, то понимали, что и в жизни ее хозяин не стремится к чистоте, а его автомобиль ему совсем не дорог.</p>

          <p>Мы предлагаем различные <em>автоковрики в Киеве</em>, полагая, что они являются обязательной принадлежностью любой машины. Ошибаются те, кто считает коврики автомобильные резиновые незначительной мелочью. Автомобильные коврики добавят уюта в ваш салон и неплохо защитят его от износа.</p>

          <ol>
            <li>Коврики (резиновые) автомобильные обладают высокой влагоустойчивостью и пластичностью при эксплуатации. Вы сможете надежно защитить пол от просачивания воды и последующих усилий для борьбы с этой неприятностью.</li>
            <li>Кроме этого полезного аксессуара для салона, очень практичным решением будет купить автоковрики для багажника. Резиновые коврики в багажнике помогут оставаться на своих местах всем вещам, а также защитят их от любой влаги, случайно попавшей в машину.</li>
          </ol>

          <img class="js-lazy" src="" alt="" data-src="./img/7.jpg"/>
        </article>        
      </div>

      <div class="s-blog-page__right">
        <article class="s-blog-page__article article">
          <img class="js-lazy" src="" alt="" data-src="./img/7.jpg"/>

          <h2>Как выбирать коврики резиновые? Н2</h2>

          <p>Купить сегодня автомобильные коврики не представляет труда. Рынок автомобильных аксессуаров предлагает различные варианты по фактуре и расцветкам. Если вы решили купить резиновые коврики в машину, то при выборе обращайте внимание на их качество:</p>

          <ul>
            <li>качественные автоаксессуары не издают сторонние запахи</li>
            <li>обращайте внимание на серийный номер в левом правом углу коврика</li>
            <li>проследите, чтобы коврик не ездил по салону, так как в оригинальных товарах установлены специальные приспособления против скольжения</li>
            <li>качественные автоаксессуары не издают сторонние запахи</li>
          </ul>
        </article>
      </div>
    </div>    
  </div>

  <!-- begin img-block -->
    <div class="img-block js-lazy" data-background-image="./img/10.jpg">
      <div class="container container--lg">
        <div class="img-block__block">
          <h2 class="img-block__title title title--h2">В чем особенность ковриков weatcher tech</h2>

          <div class="img-block__text">Автовладельцы всего мира покупают и рекомендуют продукцию WeatherTech уже более 25 лет. Пользуясь репутацией новатора и перфекциониста, компания не останавливает развитие технологичности продукции. Поэтому сегодня Вы можете позволить себе высококлассный комфорт и защиту автомобиля с аксессуарами WeatherTech.</div>
        </div>
      </div>
    </div>
    <!-- end img-block -->
</section>
<!-- end section -->