<!-- begin catalog-item -->
<section class="catalog-item">
  <div class="container container--lg">
    <div class="catalog-item__inner">
      <div class="catalog-item__left">
        {% include "partials/catalog-item/_hero.html" %}

        {% if page === 'search-results' %}
          {% include "partials/catalog-item/_search-results.html" %}
          {% else %}
          {% include "partials/catalog-item/_form.html" %}
        {% endif %}
      </div>

      <div class="catalog-item__right">
        {% include "partials/catalog-item/_gallery.html" %}
      </div>
    </div>

    {% include "partials/catalog-item/_tabs.html" %}
  </div>
</section>
<!-- end catalog-item -->