<!-- begin section -->
<section class="section section--lightest z--9">
  {# {% if page === 'catalog-item' %} #}
    {% include "partials/catalog-item/_header.html" %}
  {# {% endif %}   #}

  <div class="container container--lg-right-gap">
    {% if page === 'search-results' %}
    <div class="section__top-link">
      <a href="#" class="back-link">
        {{ mixins.icon('left-arrow', 'back-link__icon') }}
        Назад
      </a>
    </div>
    {% endif %}
  
    <!-- begin catalog-item -->
    <div class="catalog-item">
      <div class="catalog-item__inner">
        <div class="catalog-item__gallery">
          {% include "partials/catalog-item/_gallery.html" %}
        </div>

        <div class="catalog-item__right">
          <div class="catalog-item__content">
            <div class="catalog-item__title-block">
              <div class="catalog-item__upttl">WeatcherTech®</div>

              <h2 class="catalog-item__title title title--h2 title--ttn">Коврики с бортиком</h2>

              <div class="catalog-item__subttl">Лазерное измерение для идеальной посадки</div>

              {{ mixins.rating(
                mod = 'rating--index',
                grade = 5,
                label = '1558'
              ) }}
            </div>

            {% if page === 'search-results' %}
              {% include "partials/catalog-item/_search-results.html" %}
              {% else %}
              <div class="catalog-item__price title title--h2 title--300">2250 UAH - 12890 UAH</div>
              {% include "partials/catalog-item/_form.html" %}
            {% endif %}

            <div class="catalog-item__btn">
              {% set btnShare = { mod: 'btn--transp-dark btn--no-hover'} %}
              {% include "partials/_share-btn.html" %}              
            </div>
          </div>

          {% include "partials/catalog-item/_links.html" %}
        </div>
      </div>

      {% include "partials/catalog-item/_tabs.html" %}
    </div>
    <!-- end catalog-item -->
  </div>
</section>
<!-- end section -->
