{%set
features = [
  {
    icon: 'phone-call',
    title: 'телефоны',
    text: '
      <ul>
        <li><a href="tel:0443318327">(044) 331-83-27</a></li>
        <li><a href="tel:0975516655">(097) 551-66-55</a></li>
        <li><a href="tel:0667263153">(066) 726-31-53</a></li>
      </ul>
    '
  },
  {
    icon: 'envelope',
    title: 'email',
    text: '
      <ul>
        <li><a href="mailto:info@primeauto.com.ua">info@primeauto.com.ua</a></li>
        <li><a href="mailto:sales@primeauto.com.ua">sales@primeauto.com.ua</a></li>
      </ul>
    '
  },
  {
    icon: 'placeholder',
    title: 'адресс',
    text: 'г.Киев б-р Перова 19 маг.21 (кирпичный <br> павильон), маг.33 (синий павильон) <br>
      С 9.00 до 18.00 без выходных.'
  }
]
%}

<!-- begin section -->
<section class="s-two-colored">
  <div
    class="s-two-colored__img js-lazy"
    data-background-image="./img/tyler-franta-iusJ25iYu1c-unsplash.jpg"
  ></div>

  <div class="s-two-colored__bottom s-two-colored__bottom--with-footer">
    <div class="container container--lg">
      <div class="grid grid--no-bottom-gap">
        <div class="col col--md-7 col--no-bottom-gap">
          <div class="grid">
            {% for i in features %}
            <div class="col col--xl-4 col--xxs-6">
              <!-- begin feature -->
              <div class="feature feature--left">
                <div class="feature__icon square-icon square-icon--dark"><div class="square-icon__inner">{{ mixins.icon(i.icon) }}</div></div>

                <h3 class="feature__title title title--h3">{{ i.title | safe }}</h3>

                <div class="feature__text">{{ i.text | safe }}</div>
              </div>
              <!-- end feature -->
            </div>
            {% endfor %}
          </div>

          <footer class="s-two-colored__bottom-footer contacts-footer">
            <div class="contacts-footer__left">
              <p>Станьте частью нас в социальных сетях. </p>
              <p>
                  Читайте, смотрите, делитесь, лайкайте и следите за нами:
                  <img class="js-lazy" src="" alt="" width="28" data-src="./img/facebook.svg"/>
                  <img class="js-lazy" src="" alt="" width="28" data-src="./img/instagram.svg"/>
              </p>
            </div>

            <div class="contacts-footer__right">
              <h3 class="title title--h3">Напишите нам:</h3>

              <a href="#" class="chat-btn">
                <span class="chat-btn__icon">{{ mixins.icon('speech-bubble') }}</span>

                <span class="chat-btn__title">online-чат</span>
              </a>
            </div>
          </footer>
        </div>        
      </div>

      
    </div>
  </div>
</section>
<!-- end section -->