<!-- begin s-dude -->
<section class="s-dude js-lazy" data-background-image="./img/bg-dude.jpg">
  <img class="s-dude__img js-lazy" src="" alt="" data-src="./img/dude.png"/>

  <div class="container">
    <div class="grid">

      <div class="col col--md-6 col--xs-8 col--offset-md-6">
        <div class="section-block">
          <h2 class="section-block__title title title--h2">Уже есть идеи 
          для сотрудничества?</h2>

          <div class="section-block__text">Смело оставляйте заявку и мы свяжемся с вами в ближайшее время, чтобы обсудить
          самые интересные и выгодные варианты сотрудничества!</div>

          <div class="section-block__btn">
            {{ mixins.btn(
              title = 'Оставить заявку',
              mod = ''
            ) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end s-dude -->
