<!-- begin section -->
<section class="section section--xl">
  <div class="container container--lg">
    <div class="grid">
      <div class="col col--6">
        <!-- begin feature -->
        <div class="feature feature--left">
          <div class="feature__icon square-icon square-icon--dark"><div class="square-icon__inner">{{ mixins.icon('credit-card') }}</div></div>

          <h3 class="feature__title title title--h3-lg">Способы оплаты</h3>

          <div class="feature__text article">
            <ol class="order-list">
              <li>Оформите заказ по телефону (066) 726-31-53, (044) 331-83-27 с последующей оплатой заказа непосредственно по факту получения груза в транспортной компании.</li>
              <li>Оплатив полную стоимость заказа через банк (ПРАВЭКС,ПРИВАТ) простым денежным переводом либо внеся деньги на наш счёт или карточку.</li>
              <li>Оформите заказ на сайте (положив товар в корзину), заполните все требуемые поля и в ближайшее время с Вами свяжется наш представитель</li>
            </ol>
          </div>
        </div>
        <!-- end feature -->
      </div>

      <div class="col col--6">
        <!-- begin feature -->
        <div class="feature feature--left">
          <div class="feature__icon square-icon square-icon--dark"><div class="square-icon__inner">{{ mixins.icon('truck') }}</div></div>

          <h3 class="feature__title title title--h3-lg">Способы доставки</h3>

          <div class="feature__text article">
            <p>Доставку наших товаров, практически в любую точку Украины, мы осуществляем с помощью перевозчиков,таких как: АВТОЛЮКС, САТ, НОВА ПОШТА и т.д.Оплата за услуги доставки переходит к покупателю в соответствии с тарифами данного перевозчика.</p>

            <p>Доставка по городу Киев:</p>

            <ul class="list">
              <li>при покупке от 1000 грн - бесплатно!</li>
              <li>при покупке до 1000 грн - 50 грн.</li>
            </ul>
          </div>
        </div>
        <!-- end feature -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->