<!-- begin cabinet -->
<div class="cabinet">
  <section class="cabinet__hero">
    <div class="container container--lg">
      <div class="page-inner">
        <div class="cabinet__hero-inner">
          <div class="cabinet__hero-left">
            {{ mixins.list(
              name = 'breadcrumbs',
              nameAsClass = false,
              modifications = { wrap: '', list: 'cabinet__breadcrumbs breadcrumbs', item: '', link: '' },
              list = [
                { link: 'Prime Auto' },
                { item: '-' },
                { item: 'личный кабинет', modItem: 'breadcrumbs__current-item' }
              ]
            ) }}
            
            <a href="#" class="cabinet__hero-link back-link">
              {{ mixins.icon('left-arrow', 'back-link__icon') }}
              Вернуться в кабинет
            </a>
            <h1 class="cabinet__hero-title title title--h2">каталог для диллеров</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- begin section -->
  <section class="section">
    <div class="container container--lg-right-gap">
      {% include "partials/for-dealers/_search.html" %}
      
      {{ mixins.btn(
        title = 'каталог',
        mod = 'section__aside-toggle js-burger',
        href = false,
        attributes = {
          'data-menu-target': 'catalog',
          'data-block': 'section__aside-toggle'
        }
      ) }}
      <div class="aside-container">
        {% include "partials/_aside.html" %}

        {% include "partials/for-dealers/_table.html" %}
      </div>
    </div>
  </section>
  <!-- end section -->
</div>
<!-- end cabinet -->