<!-- begin section  -->
<section class="s-descr">
  <div class="container">
    <div class="grid">
      <div class="col col--lg-5 col--sm-7 col--offset-lg-2">
        <h2 class="section__title title title--h2">Интерьер автомобиля – отражение вкусов его владельца</h2>

        <div class="article">
          <p>Автомобиль для современного человека - это самое оптимальное средство передвижения, показатель благосостояния, а часто и безукоризненного вкуса своего владельца. Не случайно каждый автолюбитель с первых же дней старается сделать свое авто не только более удобным, функциональным, но и красивым.</p>

          <p>Для выполнения именно этих задач приобретаются различные аксессуары для автомобиля. В интернет-магазине «PrimeAuto»тм (ПраймАвто) в Киеве, вы найдете все необходимое для вашего «железного друга».</p>

          {{ mixins.btn(
            title = 'Подробнее о Prime Auto',
            mod = ''
          ) }}
        </div>
      </div>

      <div class="col col--lg-4 col--sm-5 col--offset-lg-1">
        <div class="section__nmb number-lg">12</div>

        <div class="article">
          <p>Мы занимаемся продажей аксессуаров для автомобилей более 12 лет, любим свою работу и стараемся делать ее на <strong>«отлично»</strong>. Мы не жалеем ни сил ни времени, чтобы наш ассортимент помог вам чувствовать в своем авто комфортно и безопасно.</p>
          <p>Не сомневайтесь, простой и приятный способ покупки в автомагазине «PrimeAuto» онлайн обязательно принесет Вам максимум пользы и выгоды.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section  -->
