
{%set
products = [
  {
    title: 'Подставки для авто',
    subttl: 'универсальный портативный держатель',
    img: 'products/1_08.jpg'
  },
  {
    title: 'Роллеты для кузова',
    subttl: 'универсальный портативный держатель',
    img: 'products/1_03.jpg'
  },
  {
    title: 'Дефлекторы капота',
    subttl: 'универсальный портативный держатель',
    img: 'products/1_05.jpg'
  },
  {
    title: 'Чехлы для сидений',
    subttl: 'универсальный портативный держатель',
    img: 'products/1_11.jpg'
  },
  {
    title: 'Кунги, крышки кузова',
    subttl: '',
    img: 'products/1_18.jpg'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container container--lg">
    <h2 class="section__title title title--h2 text-center">сопутствующие товары</h2>
      
    <div class="section__block section__block--md">
      <div class="grid">
        {% for i in products %}
        <div class="col col--xl-2-10 col--md-3 col--sm-4 col--xs-6">
          {{ mixins.card(
            title = i.title,
            subttl = i.subttl,
            img = i.img,
            button = true
          ) }}
        </div>
        
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->