<!-- begin section -->
<section class="section">
  <div class="container container--lg">
    <div class="grid">
      {% for i in range(0, 4) %}
      <div class="col col--xl-3 col--sm-4 col--xs-6">
        {{ mixins.cardNews(
          img = '07.jpg',
          title = 'новые зимние поступления товара в Prime Auto. Успейте до 18 декабря',
          text = 'Компания Prime  Auto с 2000 года занимается продажей автомобильных аксессуаров в Украине, завоевав лидирующие позиции на этом рынке. Это стало возможным благодаря тому, что мы Компания Prime  Auto с 2000 года занимается продажей автомобильных аксессуаров в Украине, завоевав лидирующие позиции на этом рынке. Это стало возможным благодаря тому, что мы'
        ) }}
      </div>

      <div class="col col--xl-3 col--sm-4 col--xs-6">
        {{ mixins.cardNews(
          img = '08.jpg',
          title = 'новые зимние поступления',
          text = 'Компания Prime  Auto с 2000 года занимается продажей автомобильных аксессуаров в Украине, завоевав лидирующие позиции на этом рынке. Это стало возможным благодаря тому, что мы'
        ) }}
      </div>
      {% endfor %}
    </div>

    {% include "partials/_pagination.html" %}
  </div>
</section>
<!-- end section -->