{% import "../../data/_order-forms.html" as forms %}

<!-- begin section -->
<section class="section">
  <div class="container container--lg">
    <div class="section__top-link">
      <a href="#" class="back-link">
        {{ mixins.icon('left-arrow', 'back-link__icon') }}
        Назад в корзину
      </a>
    </div>

    <!-- begin cabinet-meta -->
    <form class="cabinet__block cabinet-meta">
      <div class="cabinet-meta__left">
        <div class="cabinet-meta__block cabinet-meta-block cabinet-meta-block--block-bdb">
          <h3 class="title-under title title--h3 title--ttn title--500">Заполните данные</h3>

          <div class="cabinet-meta-block__block">
            <div class="cabinet-meta-block__block-title">
              <h5 class=" title title--h5 title--ttn title--500">Выберите способ доставки</h5>
            </div>            

            <div class="cabinet-meta-block__block-meta">              
              {% set form = forms.delivery %}
              {% include "partials/_form.html" %}
            </div>
          </div>

          <div class="cabinet-meta-block__block">
            <div class="cabinet-meta-block__block-title">
              <h5 class=" title title--h5 title--ttn title--500">Укажите ваши контактные данные</h5>
            </div>            

            <div class="cabinet-meta-block__block-meta">              
              {% set form = forms.contacts %}
              {% include "partials/_form.html" %}
            </div>
          </div>

          <div class="cabinet-meta-block__block">
            <div class="cabinet-meta-block__block-title">
              <h5 class=" title title--h5 title--ttn title--500">Выберите способ оплаты</h5>
            </div>            

            <div class="cabinet-meta-block__block-meta">              
              {% set form = forms.pay %}
              {% include "partials/_form.html" %}
            </div>
          </div>

          <div class="cabinet-meta-block__block">
            <div class="cabinet-meta-block__block-title">
              <h5 class=" title title--h5 title--ttn title--500">Выберите упаковку</h5>
              <img class="js-lazy" src="" alt="" data-src="./img/OMEG910.png"/>
            </div>            

            <div class="cabinet-meta-block__block-meta">              
              {% set form = forms.pack %}
              {% include "partials/_form.html" %}
            </div>
          </div>
        </div>
      </div>

      <div class="cabinet-meta__right">
        <h3 class="title-under title title--h3 title--ttn title--500 text-center">Ваш заказ</h3>
        
        <div class="section__block">
          {% for i in range(0, 5) %}
          {{ mixins.orderItem(
            mod = 'cabinet-meta__order-item order-item--counter',
            hasCounter = true
          ) }}
          {% endfor %}
        </div>
        
        <div class="section__price-block text-center">
          <div class="price">Сумма: <strong>1900</strong>грн</div>
          <div class="two-btns">
            <div class="two-btns__btn">
              {{ mixins.btn(
                title = 'Оформить заказ',
                mod = '',
                href = false
              ) }}
            </div>

            <div class="two-btns__btn">
              {{ mixins.btn(
                title = 'Заказать в 1 клик',
                mod = 'btn--transp',
                href = false
              ) }}
            </div>
          </div>
          
        </div>
      </div>
    </form>
    <!-- end cabinet-meta -->

    <div class="grid">
      <div class="col col--md-7">
        {{ mixins.banner(
          img = '13.jpg',
          title = 'Автономера в Украине',
          text = 'Изготовление автомобильных номеров в Украине от 250 грн. 
Срок оформления - до 15 минут. Быстрое оформление. 
Доставка по Киеву курьером и по Украине Новой Почтой.'
        ) }}
      </div>

      <div class="col col--md-5">
        {{ mixins.banner(
          img = '2020-gmc-sierra-mmp-1-1579115018.jpg',
          title = 'Autolend',
          text = 'Роллеты, коврики, дефлекторы, ящики кузова
и многое другое для вашего автомобиля'
        ) }}
      </div>
    </div>
  </div>
</section>
<!-- end section -->