{%set
form = {
  mod: 'section__form form--bg-white',
  titleMod: 'mb-0',
  title: 'Регистрация',
  subttl: 'Введите ваши данные ниже',
  button: {
    title: 'Зарегистрироваться'
  },
  links: true,
  fields: [
    {
      name: 'input',
      mod: 'input--lg',
      type: 'text',
      placeholder: 'ФИО'
    },
    {
      name: 'input',
      mod: 'input--lg',
      type: 'tel',
      placeholder: '+38 ( _ _ _ ) _ _ _ - _ _ - _ _'
    },
    {
      name: 'input',
      mod: 'input--lg',
      type: 'email',
      placeholder: 'email'
    },
    {
      name: 'input',
      mod: 'input--lg',
      type: 'password',
      placeholder: 'придумайте пароль'
    },
    {
      name: 'input',
      mod: 'input--lg',
      type: 'password',
      placeholder: 'повторите пароль'
    }
  ]
}
%}

<!-- begin section -->
<section class="section section--lg">
  <div class="container container--lg">
    {% include "partials/_form-block.html" %}
  </div>
</section>
<!-- end section -->
