<!-- begin section -->
<section class="section">
  <div class="container container--lg">
    <h2 class="section__title--mb-lg title title--h2-sm title--ttn">Особенность ковриков:</h2>

    <div class="grid">
      <div class="col col--xl-5 col--md-6">
        {% for i in range(0, 5) %}
        <!-- begin article-img-block -->
        <div class="article-img-block">
          <div class="article-img-block__img">
            <img
              class="js-lazy"
              src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
              alt=""
              data-src="./img/45.jpg"
            />
          </div>

          <div class="article-img-block__content">
            <h3 class="article-img-block__title title title--h3-lg title--ttn">Designed to hug the contours of your ride’s floor</h3>

            <div class="article-img-block__text">Digital laser measurements of interior surfaces offer a consistently perfect fit. </div>
          </div>
        </div>
        <!-- end article-img-block -->
        {% endfor %}

        <p>WeatherTech® DigitalFit™ Floor Liners is where Technology and All Weather Protection meet! A patent pending High-Density Tri-Extruded (HDTE) material allows for a rigid core for strength while offering surface friction to the carpet, as well as tactile feel to the surface! Advanced surfacing creates channels that carry fluids and debris to a lower reservoir with further channeling to help minimize fluid movement while driving! Once fluids become trapped in the reservoir, away from shoes and clothing, they are easily removed from the WeatherTech® Floor Liner DigitalFit™ over the door sill...no muss, no fuss! </p>
      </div>

      <div class="col col--xl-7 col--md-6">
        <div class="section__video">
          <iframe class="js-lazy" src="" data-src="https://www.youtube.com/embed/bHU2ZaS1scM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
