<!-- begin section -->
<section class="section">
  <div class="container container--lg">
    <div class="grid grid--align-items-center">
      <div class="col col--xl-5 col--md-6">
        <img
          class="js-lazy"
          src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
          alt=""
          data-src="./img/7.jpg"
        />
      </div>

      <div class="col col--md-6 col--offset-xl-1">
        <h2 class="section__title title title--h2">гарантии weatcher tech </h2>
        
        <article class="article">
          <p>WeatherTech Direct, LLC warrants that its products will be free from any defects in materials and workmanship for the life of the original purchaser and only for the original vehicle they were installed in. That does not mean that a product that simply and naturally wears out from normal use is a candidate for a warranty replacement or a refund. Like tires, brake pads or the shoes on your feet, everything wears out and when it does, that does not mean you did not receive good value for your money.</p>

          <p>Exclusions to this warranty include wear due to severe abrasive conditions, chemical contamination, such as spilled gasoline, bleach, vehicle accidents, misuse, abuse, incorrect installation, incorrect use, etc.</p>

          <p>WeatherTech’s Lifetime Limited Warranty does not apply to both the Roll Up Truck Bed Cover and the AlloyCover Hard Tri-Fold Pickup Truck Bed Cover. </p>
        </article>

        <!-- begin link-blocks -->
        <ul class="link-blocks">
          <li class="link-blocks__item js-lightgallery">
            <a
              href="https://www.youtube.com/embed/bHU2ZaS1scM"
              class="link-block link-block--img js-lazy"
              data-background-image="./img/07.jpg"
            >
              <span class="link-block__title">WeatcherTech® - Floor Liner Installation Video</span>

              <span class="link-block__bottom">            
                <img
                  class="link-block__img js-lazy"
                  src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                  width="58"
                  alt=""
                  data-src="./img/play.svg"
                />
              </span>
            </a>
          </li>

          <li class="link-blocks__item">
            <a
              href="#"
              class="link-blocks__item link-block"
            >
              <span class="link-block__title">WeatcherTech® - Floor Liner Installation Instruction</span>
              
              <span class="link-block__bottom">
                <span class="link-block__link-wrap">
                  <span class="link-block__link">Read Instructions</span>
                </span>
              
                <img
                  class="link-block__img js-lazy"
                  src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                  width="68"
                  alt=""
                  data-src="./img/file.svg"
                />
              </span>
            </a>
          </li>
        </ul>
        <!-- end link-blocks -->

      </div>
    </div>
  </div>
</section>
<!-- end section -->