{% from 'mixins/_list.html' import list %}
{% set list = list %}

{% from 'mixins/_btn.html' import btn %}
{% set btn = btn %}

{% from 'mixins/_icon.html' import icon %}
{% set icon = icon %}

{% from 'mixins/_input.html' import input %}
{% set input = input %}

{% from 'mixins/_card.html' import card %}
{% set card = card %}

{% from 'mixins/_card-news.html' import cardNews %}
{% set cardNews = cardNews %}

{% from 'mixins/_order-item.html' import orderItem %}
{% set orderItem = orderItem %}

{% from 'mixins/_counter.html' import counter %}
{% set counter = counter %}

{% from 'mixins/_rating.html' import rating %}
{% set rating = rating %}

{% from 'mixins/_colors.html' import colors %}
{% set colors = colors %}

{% from 'mixins/_banner.html' import banner %}
{% set banner = banner %}
