{% from 'mixins/_icon.html' import icon %}
{% set icon = icon %}

{% macro rating(mod, title, grade, label, interactive = false, starsNmb = 5) %}
<div class="rating{% if mod %} {{ mod }}{% endif %} {% if interactive %} rating--interactive{% endif %} js-rating">
  {% if title %}
    <div class="rating__title title title--h4">{{ title | safe }}</div>
  {% endif %}
  
  <div class="rating__stars">
    {% for i in range(0, starsNmb) | reverse %}
      <input
        class="rating__input"
        type="radio"
        value="{{ i + 1 }}"
        {% if grade === i + 1 %}checked{% endif %}
        {% if not interactive %}disabled{% endif %}
      >

      <label class="rating__label" >
        {{ icon('star', 'rating__icon') }}
      </label>
    {% endfor %}  
  </div>

  <div class="rating__grades">
    {% if label %}
      {{ label }}
    {% else %}
      {{ grade }} / {{ starsNmb }}
    {% endif %}
  </div>
</div>
{% endmacro %}
