.article
  +clr
  +notlast
      margin-bottom: rem(20)
      
  p, li, h1, h2, h3, h4, h5, h6, ul, ol
    +notlast
      margin-bottom: rem(20)

  img, figure
    +notlast
      margin-bottom: rem(30)

    &.alignleft
      float: left
      margin-right: rem(15)

    &.alignleft
      float: right
      margin-left: rem(15)

  h1, h2, h3, h4, h5, h6
    @extend .title
    @extend .title--ttn
    &.title--400
      @extend .title--400

  h2
    font-size: em(24)

  ul
    &:not(.list)
      padding-left: 1em
      li
        list-style-type: disc

  ol
    &:not(.order-list)
      +counter('article', ')')
    li
      &::before
        margin-right: .3em

  a:not(.btn)
    color: $c-link
    text-decoration: underline


.article-img-block
  display: flex
  margin-bottom: rem(25)

  &__img
    font-size: 0
    width: rem(100)
    img
      width: 100%

  &__content
    width: calc(100% - #{rem(100)})
    padding-left: rem(15)

  &__title
    &::after
      content: '-'
      display: block