.block
  padding: rem(40) 0
  text-align: center
  background-color: $white
  box-shadow: 0px 3px 33px 0px rgba(0, 0, 0, 0.13)

  +lg
    padding: rem(30) 0

  &__title
    font-weight: 700
    font-size: em(30)
    margin-bottom: rem(30)

    +sm
      font-size: em(26)

    &--mb-sm
      margin-bottom: rem(10)

  &__subttl
    color: $light-dark
    font-size: em(12)
    margin-bottom: rem(15)