.cabinet
  background-color: $white

  &__hero
    background-color: $dark
    color: $white    

  &__breadcrumbs
    margin-bottom: rem(30)

  &__hero-inner
    display: flex
    align-items: center
    justify-content: space-between

    padding-top: rem(15)
    padding-bottom: rem(15)

    +sm
      display: block

  &__hero-left
    padding-right: rem(15)

  &__hero-title
    margin-bottom: rem(25)

  &__block
    +notlast
      margin-bottom: rem(45)
      +lg
        margin-bottom: rem(30)
      +md
        margin-bottom: rem(15)

.cabinet-meta
  display: flex
  flex-wrap: wrap

  &__left, &__right
    width: percentage(690 / 1650)

    +xl
      width: 50%

    +sm
      width: 100%
      margin-bottom: rem(15)
      padding-left: 0
      padding-right: 0
  
  &__left
    +xl
      padding-right: rem(15)

  &__right
    margin-left: percentage(75 / 1650)
    +xl
      margin-left: 0
      padding-left: rem(15)

  &__order-item
    border-bottom: 1px solid  $lighten
    padding-top: rem(15)
    padding-bottom: rem(15)

.cabinet-meta-block
  $this: &

  &__title
    

  &__block
    display: flex
    flex-wrap: wrap
    +notlast
      margin-bottom: rem(25)

    +md
      display: block

  &__block-title
    width: percentage(180 / 690)
    padding-right: rem(10)

    +md
      width: auto
      padding-right: 0
      margin-bottom: rem(15)

  &__block-meta
    width: percentage((690 - 180) / 690)
    +md
      width: auto

  &--block-bdb
    #{$this}__block-meta
      border-bottom: 1px solid  $lighten



