.table
  $this: &

  background-color: $white
  border-left: 1px solid $lighten
  border-right: 1px solid $lighten

  +md
    border-top: 1px solid $lighten

  &__top, &__tr-inner
    display: flex

  &__top
    +md
      display: none

  &__tr-inner
    padding-top: rem(20)
    padding-bottom: rem(20)
    +lg
      padding-top: rem(10)
      padding-bottom: rem(10)
    +md
      flex-wrap: wrap
      justify-content: flex-end

      padding-top: 0
      padding-bottom: 0

  &__tr
    border-bottom: 1px solid $lighten

    &--delivered
      #{$this}__color-icon
        fill: #3ac948
    &--processing
      #{$this}__color-icon
        fill: #f6aa16
    &--on-the-way
      #{$this}__color-icon
        fill: $accent

  &__td, &__th
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    text-align: center

    width: percentage(260 / 1650)
    padding: rem(10)

    strong
      max-width: 100%

    &:first-child
      width: percentage(95 / 1650)

    &:last-child
      width: percentage((1650 - (260 * 5) - 95) / 1650)

  &__th
    background-color: $accent
    color: $white
    font-weight: 500

  &__td
    +notlast
      border-right: 1px solid $lighten

    +md
      width: 50%
      border-bottom: 1px solid $lighten
      +notlast
        border-right: 0
      &:first-child
        width: 100%
      &:last-child
        width: 50%
      &:nth-child(even)
        border-right: 1px solid  $lighten

  &__btn
    display: inline-flex
    align-items: center

    +tr(color .3s)

    +hover
      color: $accent

    +after
      +icon-arrow(.5, .5, 0.1, currentColor, -45, em)
      margin-left: .5em
      margin-top: -.1em
      display: block

    &--active
      color: $accent
      +after
        transform: rotate(135deg)
        margin-top: .1em

  &__orders-meta
    max-height: 0
    overflow: hidden
    // +tr(max-height .5s $easeOutQuad)

    &--open
      border-top: 1px solid $lighten
      max-height: none

  &--cart
    #{$this}__td, #{$this}__th
      width: percentage(220 / 1650)

      +md
        width: 50%

      &:first-child
        width: percentage(220 / 1650)
        +md
          width: 100%

      &:last-child
        width: percentage((1650 - (220 * 7)) / 1650)
        +md
          width: 100%

  &--for-dealers
    #{$this}__td, #{$this}__th
      width: percentage(1365)
      &:nth-child(1)
        width: percentage(170 / 1365)
        +md
          width: 100%
      &:nth-child(2)
        width: percentage(235 / 1365)
        +md
          width: 50%
      &:nth-child(3)
        width: percentage(125 / 1365)
        +md
          width: 50%
      &:nth-child(4)
        width: percentage(175 / 1365)
        +md
          width: 50%
      &:nth-child(5)
        width: percentage(130 / 1365)
        +md
          width: 50%
      &:nth-child(6)
        width: percentage(125 / 1365)
        +md
          width: 50%
      &:nth-child(7)
        width: percentage(195 / 1365)
        +md
          width: 50%
      &:nth-child(8)
        width: percentage(120 / 1365)
        +md
          width: 50%
      &:nth-child(9)
        width: percentage((1365 - 170 - 235 - 125 - 175 - 130 - 125 - 195 - 120) / 1365)
        +md
          width: 50%
        