.catalog-item
  background-color: $lightest
  &__hero
    position: relative
    // margin-right: rem(-30)
    margin-bottom: rem(30)

    +before
      position: absolute
      top: 0
      bottom: 0
      right: 100%
      width: $container--lg-padding
      background-color: $dark

  &__inner
    display: flex
    flex-wrap: wrap
    margin-bottom: rem(60)
    +xl
      margin-bottom: rem(40)
    +md
      margin-bottom: rem(30)

  &__hero, &__left-block
    width: percentage(645 / 1740)
    padding-right: rem(30)
    +md
      padding-right: 0
      width: 100%

  &__gallery
    width: percentage((1740 - 645) / 1740)
    margin-bottom: rem(-380)
    +md
      width: 100%
      margin-bottom: rem(30)
