.colors
  $this: &

  display: flex
  flex-wrap: wrap
  width: 100%
  
  margin-left: rem(-5)
  margin-right: rem(-5)

  &__item
    width: calc(33.33333% - #{rem(10)})
    margin-left: rem(5)
    margin-right: rem(5)
    margin-bottom: rem(5)

  &--sm
    #{$this}__item
      width: rem(38)
      margin-bottom: 0
