.faq-item
  background-color: $white

  &__btn
    display: block
    width: 100%
    text-align: left

    font-size: em918

    padding: rem(15) rem(20)

  &__content
    padding: 0 rem(15)
    color: $light-dark
    