.footer
  background-color: $c-text
  color: $white
  font-size: em(12)

  &__inner
    display: flex
    align-items: center
    justify-content: space-between

    padding-top: rem(20)
    padding-bottom: rem(20)

    +xl
      flex-direction: column
      text-align: center
    

  &__nav
    width: percentage(550 / 1410)
    +xl
      margin-bottom: rem(15)
      order: 1

  &__logo
    width: percentage((1410 - 550 - 550) / 1410)
    text-align: center
    +xl
      margin-bottom: rem(15)
      order: 0

  &__text
    width: percentage(550 / 1410)
    text-align: right
    text-transform: uppercase
    +xl
      order: 2

  &__nav, &__logo, &__text
    +xl
      width: auto
      text-align: center

