.form
  $this: &

  &__row
    display: flex
    flex-wrap: wrap

    margin-left: rem(-5)
    margin-right: rem(-5)

    &--block
      display: block

  &__col
    width: 50%
    padding-left: rem(5)
    padding-right: rem(5)
    margin-bottom: rem(15)

    +xs
      width: 100%

  &__title
    @extend .block__title
    &--mb-sm
      @extend .block__title--mb-sm    

  &__subttl
    @extend .block__subttl
    

  &__text
    font-size: em(14)
    color: $light-dark
    a
      text-decoration: underline

  &__links
    display: flex
    text-align: left
    #{$this}__text
      width: 50%
      &:last-child
        text-align: right


  &__field
    +notlast
      margin-bottom: rem(10)

    &.price-info
      text-align: left

    &--50
      width: 50%

  &--block
    background-color: $lighten
    padding: rem(30) rem(40)
    text-align: center
    border: 1px solid  $c-border
    
    +xl
      padding: rem(40)
      
    +lg
      padding: rem(30)

    +md
      padding: rem(30) rem(15)
  
  &--bg-white
    background-color: $white
    box-shadow: 0px 3px 33px 0px rgba(0, 0, 0, 0.13)