.form
  $this: &

  &__row
    display: flex
    flex-wrap: wrap

    margin-left: rem(-5)
    margin-right: rem(-5)

    &--block
      display: block

  &__col
    width: 50%
    padding-left: rem(5)
    padding-right: rem(5)
    margin-bottom: rem(15)

    +xs
      width: 100%

    &--33
      width: 33.33333%

  &__title
    @extend .block__title
    &--mb-sm
      @extend .block__title--mb-sm

    &--md
      text-transform: uppercase
      font-size: em(18) !important
      font-weight: 300 !important

  &__subttl
    @extend .block__subttl
    

  &__text
    font-size: em(14)
    color: $light-dark
    a
      text-decoration: underline

  &__links
    display: flex
    text-align: left
    #{$this}__text
      width: 50%
      &:last-child
        text-align: right


  &__field
    +notlast
      margin-bottom: rem(10)

    &.price-info
      text-align: left

    &--50
      width: 50%

  &__btn
    text-align: center

  &__btn-short
    max-width: rem(385)
    margin-left: auto
    margin-right: auto

  &--block
    background-color: $lighten
    padding: rem(30) rem(40)
    text-align: center
    border: 1px solid  $c-border
    
    +xl
      padding: rem(40)
      
    +lg
      padding: rem(30)

    +md
      padding: rem(30) rem(15)
  
  &--bg-white
    background-color: $white
    box-shadow: 0px 3px 33px 0px rgba(0, 0, 0, 0.13)