.gallery
  &__slider
    margin-bottom: rem(10)
    position: relative

  &__thumbs
    height: vw(270)
    +xxs
      height: rem(120)

  &__img
    +cover
    background-color: $dark
    padding-top: percentage(450 / 735)

  &__thumb
    +cover
    background-color: $dark
    height: vw(125)
    position: relative

    +xxs
      height: rem(55)

    +before
      +coverdiv
      background-color: rgba($white, .3)

    &.swiper-slide-thumb-active
      +before
        display: none

  &__label
   @extend .product-card__label
   top: auto
   bottom: rem(30)
   background-color: $accent

.gallery-item
  +cover
  background-color: $dark

  display: block
  width: 100%
  position: relative
  
  padding-top: 60%
  // iframe
  //   position: absolute
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%
  //   object-fit: cover

.thumbs-gallery
  display: flex
  flex-wrap: wrap

  &__item
    width: rem(100)
    margin-right: rem(10)
    margin-bottom: rem(10)

.thumb-item
  $this: &

  position: relative
  color: $white
  border: 1px solid  $c-border
  

  width: rem(100)
  height: rem(70)

  +xs
    width: rem(80)
    height: rem(50)

  img
    +vcenter
    max-height: 100%

  +before
    +coverdiv
    z-index: 1

    border: 2px solid  $accent
    background-color: rgba($black, .35)

    +tr(opacity .3s, visibility .3s)
    +hidden

  +hover
    +before
      +visible

    #{$this}__icon
      +visible

  &__icon
    +vcenter
    z-index: 2
    font-size: em(25)

    +hidden
    +tr(opacity .3s, visibility .3s)
