.hero
  $this: &

  +cover
  background-color: $dark
  color: $white

  position: relative
  z-index: 0

  &__title
    margin-bottom: rem(25)

  &__subttl
    max-width: rem(645)

  &__inner
    display: flex
    flex-direction: column
    justify-content: center

    padding-top: rem(15)
  &__content
    padding-top: rem(25)
    padding-bottom: rem(25)

    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: center

  &--sm
    #{$this}__inner
      min-height: vw(345)    

  &--xs
    #{$this}__inner
       min-height: vw(150)
  
.hero-slide
  $this: &
  
  +windowMinHeight($header-height)

  display: flex
  justify-content: center
  flex-direction: column

  position: relative  
  color: $white

  background-color: $light

  > .container
    width: 100%

  &.swiper-slide-active
    #{$this}__bg
      display: block

  &__bg
    +coverdiv
    +cover

    z-index: 0
    

    display: none

  &__inner
    position: relative
    z-index: 1
    padding-top: rem(100)
    padding-bottom: rem(100)

  &__title, &__subttl
    margin-bottom: rem(15)

  &__subttl
    +xs
      br
        display: none

  &__btns
    display: flex
    +xs
      display: block

  &__btn
    +notlast
      margin-right: rem(15)
      +xs
        margin-right: 0
        margin-bottom: rem(15)
    