.input
  font-size: em(14)

  #{$text-inputs}
    width: 100%
    border: 1px solid  $lighten

    padding: rem(8) rem(15)
    height: rem(36)

    +text-overflow
    +placeholder
      color: inherit

  &__label
    display: block
    margin-bottom: rem(5)
    color: $light

  &--lg
    font-size: 1em
    #{$text-inputs}
      border: 0
      background-color: $lightest
      height: rem(50)
      text-transform: uppercase
      font-weight: 500

  &--radio
    position: relative
    padding-left: 1.5em
    user-select: none
    input[type="radio"]
      opacity: 0
      visibility: hidden
      position: absolute
      &:checked + span
        &::after
          content: ''
          top: .3em
          left: .2em
          position: absolute
          display: block

          width: em(10)
          height: em(10)
          background-color: $accent
        &::before
          border-color: $accent
      & + span
        &::before
          content: ''
          border: 1px solid $lighten
          width: 1em
          height: 1em
          top: .1em
          left: 0
          background-color: transparent
          position: absolute
          display: block

  &--checkbox
    position: relative
    padding-left: 1.5em
    user-select: none

    text-align: left
    display: block
    input[type="checkbox"]
      opacity: 0
      visibility: hidden
      position: absolute
      &:checked + span
        &::after
          content: ''

          +icon-arrow(.8, .4, .06, currentColor, -45, em)

          top: .25em
          left: .15em
          position: absolute
          display: block
      & + span
        &::before
          content: ''
          border: 1px solid currentColor
          width: 1em
          height: 1em
          top: .1em
          left: 0
          background-color: transparent
          position: absolute
          display: block

  &--select-color
    .custom-select
      &__opener, &__panel
        background-color: $lightest

      &__option
        +hover
          background-color: $white

  &--select-border
    .custom-select
      text-transform: none
      font-weight: inherit

      &__opener
        background-color: $white
        border: 1px solid $lighten

        padding: rem(8) rem(15)
        padding-right: rem(30)
        height: rem(36)

        +before
          display: none
        +after
          +icon-arrow(.5, .5, 0.1, currentColor, -45, em)
          position: absolute
          z-index: 1
          top: 50%
          transform: translate(0, -50%) rotate(-45deg)
          right: rem(15)

      &__panel
        border: 1px solid $lighten
        border-top: 0

      &__option
        padding: rem(8) rem(15)

.custom-select
  $this: &

  position: relative
  font-weight: 500
  text-align: left
  text-transform: uppercase

  select
    position: absolute
    opacity: 0
    visibility: hidden

  &__opener
    height: rem(50)
    background-color: $white
    padding: rem(15) rem(20)
    padding-right: rem(40)

    cursor: pointer

    +before
      +arr(1em, .5em, currentColor, b)
      position: absolute
      z-index: 1
      top: 50%
      transform: translate(0, -50%)
      right: rem(20)

  &__panel
    position: absolute
    z-index: 5
    top: 100%
    left: 0
    right: 0

    max-height: 250px
    overflow: auto

    background-color: $white

    +hidden

  &__option
    padding: rem(15) rem(20)
    cursor: pointer

    +tr(background-color .3s)
    +hover
      background-color: $lightest

    &[data-value="placeholder"]
      display: none

  &--open
    #{$this}__panel
      +visible

  &--disabled
    opacity: .5


.counter
  position: relative
  display: inline-block    

  font-size: em(14)

  &__label
    position: absolute
    z-index: 1
    top: 50%
    left: rem(10)
    transform: translate(0, -50%)

  &__input
    height: rem(35)
    width: rem(120)

    padding-left: rem(75)
    border: 1px solid  $lighten

    -moz-appearance: textfield

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0

  &__btn
    position: absolute
    z-index: 1
    right: rem(10)

    display: flex
    align-items: center
    justify-content: center

    width: rem(8)
    height: rem(8)

    color: $light

    +tr(color .3s)

    +hover
      color: currentColor

    +before
      +icon-arrow(.5, .5, 0.1, currentColor, -45, em)
      display: block

    &--dec
      bottom: rem(10)

    &--inc
      top: rem(10)
      transform: scaleY(-1)
