.input
  font-size: em(14)

  #{$text-inputs}
    width: 100%
    border: 1px solid  $lighten

    padding: rem(8) rem(15)
    height: rem(36)

    +text-overflow

    +placeholder
      color: inherit

  &__label
    display: block
    margin-bottom: rem(5)
    color: $light

  &--radio
    position: relative
    padding-left: 1.5em
    user-select: none
    input[type="radio"]
      opacity: 0
      visibility: hidden
      position: absolute
      &:checked + span
        &::after
          content: ''
          top: .3em
          left: .2em
          position: absolute
          display: block

          width: em(10)
          height: em(10)
          background-color: $accent
        &::before
          border-color: $accent
      & + span
        &::before
          content: ''
          border: 1px solid $lighten
          width: 1em
          height: 1em
          top: .1em
          left: 0
          background-color: transparent
          position: absolute
          display: block

.counter
  position: relative
  display: inline-block
    

  font-size: em(14)

  &__label
    position: absolute
    z-index: 1
    top: 50%
    left: rem(10)
    transform: translate(0, -50%)

  &__input
    height: rem(35)
    // width: 100%
    width: rem(120)

    padding-left: rem(75)
    border: 1px solid  $lighten

  &__btn
    position: absolute
    z-index: 1
    right: rem(10)

    display: flex
    align-items: center
    justify-content: center

    width: rem(8)
    height: rem(8)

    color: $light

    +tr(color .3s)

    +hover
      color: currentColor

    +before
      +icon-arrow(.5, .5, 0.1, currentColor, -45, em)
      display: block

    &--dec
      bottom: rem(10)

    &--inc
      top: rem(10)
      transform: scaleY(-1)

