.nav
  text-transform: uppercase
  color: $dark

  > ul
    display: flex
    align-items: center

    +md
      display: block

    > li
      position: relative
      > ul
        position: absolute
        top: 100%
        left: 0

        background-color: $white
        font-size:  em(14)

        width: rem(511)
        padding: rem(30) rem(20) rem(15)
        border-top: 1px solid $c-border    
        
        +ready
          +tr(opacity .4s, visibility .4s)
        +hidden

        > li
          margin-bottom: rem(15)

          > a
            +tr(color .3s)
            +hover
              color: #7c7c7c

      > a
        display: flex
        align-items: center
        justify-content: center

        height: $header-height
        border-right: 1px solid  $c-border

        padding-left: rem(20)
        padding-right: rem(20)

        font-weight: 500

        +tr(color .3s)
        +hover
          color: $accent

        +lg
          height: $header-height-lg

        &:first-child
          border-left: 1px solid $c-border

        .icon
          margin-right: .3em
          font-size: 1.5em

      &:hover
        > ul
          +visible

      &.has-dropdown-lg
        > ul
          width: rem(618)
          display: flex
          flex-wrap: wrap
          > li
              width: 50%
              padding-right: rem(10)  

  &--footer
    color: inherit
    ul
      display: block !important
    li
      display: inline-block
      +notlast
        margin-right: rem(25)
        +xs
          margin-right: 0
          margin-bottom: rem(15)
      +xs
        display: block
    a
      display: inline
      hight: auto !important
      border: 0 !important
      padding: 0 !important
      +hover
        color: inherit
        text-decoration: underline