.side-controls
  $this: &

  position: fixed
  z-index: 15
  top: 0
  right: 0
  bottom: 0

  width: $container--lg-padding
  background-color: $white
  border: 1px solid  $c-border

  display: flex
  flex-direction: column

  +lg
    top: auto
    width: 100%
    flex-direction: row
    justify-content: space-between

    padding-right: rem(15)

  &__social
    flex-grow: 1

    +lg
      flex-grow: 0
      display: flex
      align-items: center
    
    .social
      &__item
        height: 50%
        position: relative
        +lg
          height: auto
          +notlast
            margin-right: rem(15)
      &__link
       position: absolute
       top: 50%
       left: 50%
       transform: translate(-50%, -50%) rotate(-90deg)
       +lg
        position: static
        transform: none


.side-btns
  $this: &

  +lg
    display: flex

  &__item
    position: relative
    // &:nth-child(4)
    //   #{$this}__tooltip
    //     +visible

  &__btn
    display: flex
    align-items: center
    justify-content: center

    width: 1em
    height: 1em
    font-size: $container--lg-padding

    color: $accent
    border-bottom: 1px solid  $c-border

    +tr(background-color .3s, color .3s)
    +hover
      @extend #{$this}__btn--active

    +lg
      border-bottom: 0
      border-right: 1px solid  $c-border
      font-size: rem(50)
      .icon
        font-size: rem(22)
        &--car
          font-size: rem(30)

    .icon
      font-size: rem(32)
      &--car
        font-size: rem(40)

    &--active
      color: $white
      background-color: $accent

  &__tooltip
    position: absolute
    z-index: 5
    top: 0
    right: 100%
    +hidden

    min-width: 615px

.side-search
  min-width: 0
  width: 400px
  &__input
    height: $header-height
    width: 100%
    padding: rem(20) rem(30)

    color: $light
    background-color: $lightest
    font-size: em(14)    
